@import '@/uni_modules/uni-scss/variables.scss';

/* uni.scss */
@import '@/uni_modules/uview-ui/theme.scss';

$mp-main-color: #3c9cff;


// 主色调
$main-blue-color: #2784F8;
$main-text-color: #020202;

// 国网主色调
$main-global-color: #2C6362;

// 字体颜色
$text-color-black: #333333;
$text-color-gray: #666666;
$text-color-lightgray: #999999;

// 背景色
$background-color-white: #ffffff;
$background-color-lightgray: #F5F5F5;
